@import 'material-colors/dist/colors.scss';

$primary: $md-deep-orange-500;
$primary-dark: $md-deep-orange-700;
$primary-light: $md-deep-orange-200;
$secondary: $md-blue-200;

$light-background: #ffffff;
$light-error: #b00002;
$dark-background: #121212;
$dark-error: #cf6679;
