@inherits LayoutComponentBase

<div class="container">
    <div class="top">
        <div class="navigation">
            <NavMenu />
        </div>
        <div class="main">
            @Body
        </div>
    </div>
    <div class="bottom">
        StatusBar />
    </div>
</div>
