<nav>
    <div class="top">
        <a href="#"><FluentIcon Name="slide_multiple" Size="32" /></a>
        <a href="#"><FluentIcon Name="history" Size="32" /></a>
    </div>
    <div class="bottom">
        <a href="#"><FluentIcon Name="settings" Size="32" /></a>
    </div>
</nav>

@code {
    private string? target;

    @*private Appearance SetAppearance(string location)
    {
        if (location == target)
        {
            return Appearance.Neutral;
        }
        else
        {
            return Appearance.Stealth;
        }
    }*@
}
